.serverTable {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 18pt;
    min-width: 70%;
    left: 50%;
    transform: translateX(-50%);

    /* border-collapse: collapse; */
    border: none;
    border-spacing: 10px;
}

.serverTable td i {
    margin-right: 15px;
    transform: scale(1.4);
    margin-left: 15px;
}

.serverTable td i:nth-of-type(2) {
    transform: scale(1) !important;
    float: right;
}

.stoppedServer td i:last-child {
    color: var(--error-text);
}

.startingServer td i:last-child {
    color: var(--warning-text);
}

.runningServer td i:last-child {
    color: var(--success-text);
}

.serverTable td, .serverTable th {
    padding: 20px;
    font-size: 14pt;
    font-weight: 500;
    border-radius: 15px;
}

.serverTable tr td:first-child {
    background-color: var(--light-bg);
    transition: all 0.15s;
    color: var(--gray);
}

.serverTable tr td:first-child:hover {
    background-color: var(--primary);
    cursor: pointer;
    color: var(--black);
    transform: scale(1.025);
}

.serverTag {
    color: var(--primary);
    font-size: 11pt;
    margin-left: 10px;
    padding: 7px 15px;
    border-radius: 15px;
    background-color: var(--primary-bg);
    transition: all 0.15s;
    letter-spacing: 1px;
}

.serverTable tr td:first-child:hover .serverTag {
    background-color: var(--primary-dark);
    color: var(--black);
}

.inaccessibleServer {
    background-color: var(--warning-bg) !important;
    transition: all 0.15s;
    color: var(--warning-text) !important;
}

.inaccessibleServer:hover {
    background-color: var(--warning-bg) !important;
    cursor: default !important;
    color: var(--warning-text) !important;
    transform: scale(1) !important;
}

.deleteButton {
    width: 10px !important;
    padding: 0 !important;
}

.deleteButton button {
    background-color: transparent;
    border: none;
    color: var(--gray);
    transition: all 200ms;
    height: 30px !important;
}

.deleteButton button:hover {
    background-color: transparent;
    border: none;
    color: var(--error-text);
    cursor: pointer;
}

.tableTop {
    background-color: transparent !important;
}

.tableTop:hover {
    cursor: default !important;
    background-color: transparent !important;
}

.serverTable th {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    background-color: transparent;
    color: var(--white);
}

.pageTitle {
    width: 100%;
    text-align: center;
}

.addServerBtn {
    position: relative;
    border: none;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 20pt;
    font-weight: 500;
    border-radius: 15px;
    background-color: var(--light-bg);
    transition: all 0.15s;
    color: var(--gray);
}

.addServerBtn:hover {
    background-color: var(--primary);
    cursor: pointer;
    color: var(--black);
    transform: translateX(-50%) scale(1.025);
}

.deleteServerPopup {
    position: absolute;
    max-width: 80%;
    width: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 15px;
    background-color: var(--light-bg);
    border: 3px solid var(--bg);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0 !important;
}

.deleteServerPopup input {
    outline-color: var(--error-text);
    color: var(--white);
    margin-bottom: 20px;
}

.deleteServerPopup button {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border: none;
    font-size: 13pt;
    font-family: "Roboto", sans-serif;
    transition: all 0.15s;
}

.deleteServerPopup button:disabled {
    background-color: var(--light-bg);
    color: var(--error-bg);
}

.deleteServerPopup button:enabled {
    background-color: var(--error-bg);
    color: var(--error-text);
}

.deleteServerPopup button:enabled:hover {
    cursor: pointer;
    background-color: var(--bg);
    color: var(--error-text);
}

.deleteServerPopup h2 button {
    width: 40px;
    height: 40px;
    float: right;
}

.loader {
    margin-right: 10px;
    float: right;
    width: 15px;
    padding: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary);
    --_m:
            conic-gradient(#0000 10%,#000),
            linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}
